<h1><f:translate key="apikeymanagement.index.welcome">EVE API Key Management</f:translate></h1>

<f:if condition="{apiKeyList}">
	<h2>List of stored API keys for {apiKeyList.first.corpMember.username}</h2>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>key id</th>
				<th>vCode</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{apiKeyList}" as="apiKey">
			<tr>
				<td>{apiKey.keyId}</td>
				<td>{apiKey.vCode}</td>
				<td><f:link.action action="delete" class="text-danger" arguments="{apiKey : apiKey}">Delete</f:link.action></td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:if>

<f:link.action action="new" controller="ApiKeyManagement">Add new API key</f:link.action>
