<h1><f:translate key="apikeymanagement.index.welcome">EVE API Key Management</f:translate></h1>

<f:flashMessages renderMode="div" />

<f:if condition="{apiKeyList}">
	<h2>List of stored API keys for {apiKeyList.first.corpMember.username}</h2>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>key id</th>
				<th>expires</th>
				<th>access mask</th>
				<th>action</th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{apiKeyList}" as="apiKey">
			<tr>
				<td>{apiKey.keyId}</td>
				<td><f:if condition="{apiKey.expires}"><f:then><f:format.date format="Y-m-d">{apiKey.expires}</f:format.date></f:then><f:else>never</f:else></f:if></td>
				<td>{apiKey.accessMask}</td>
				<td><f:link.action action="delete" class="text-danger" arguments="{apiKey : apiKey}">Delete</f:link.action></td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:if>

<f:link.action action="new" controller="ApiKeyManagement">Add new API key</f:link.action>
