<h1>Add new API Key</h1>

<f:render partial="FormErrors" arguments="{formName: 'newApiKeyAccount'}" />
<f:form method="post" action="create" controller="ApiKeyManagement" name="newApiKeyAccount" object="{newApiKeyAccount}">
	<div class="form-group">
		<label for="keyid">Key ID</label>
		<f:form.textfield name="keyid" property="keyId" size="10" class="form-control"/>
	</div>

	<div class="form-group">
		<label for="vcode">Verification Code</label>
		<f:form.textfield name="vcode" property="vCode" size="64" class="form-control"/>
	</div>

	<f:form.submit value="Submit" class="btn btn-default"/>
</f:form>

<br />
<f:link.external target="_blank" uri="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask={accessMask}">Create new account API key</f:link.external>
