<f:layout name="default" />
<f:section name="content">

<f:format.html>{preTableText}</f:format.html>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>{tableTypeContent}</th>
			<th><f:translate key="app.buy">Buy</f:translate></th>
			<f:if condition="{showBuyCorpColumn} == 1"><th><f:translate key="app.corpbuy">Buy Corp</f:translate></th></f:if>
			<th><f:translate key="app.sell">Sell</f:translate></th>
			<f:if condition="{showFetchColumn} == 1"><th></th></f:if>
		</tr>
	</thead>
	<tbody>
	<f:for each="{result}" as="resource">
		<tr>
			<td>{resource.displayName}</td>
			<td style="text-align:right;">{resource.buyPrice  -> f:format.currency(decimalSeparator: ',', thousandsSeparator: '.')}</td>
			<f:if condition="{showBuyCorpColumn} == 1"><td style="text-align:right;">{resource.corpBuyPrice ->  f:format.currency(decimalSeparator: ',', thousandsSeparator: '.')}</td></f:if>
			<td style="text-align:right;">{resource.sellPrice ->  f:format.currency(decimalSeparator: ',', thousandsSeparator: '.')}</td>
			<f:if condition="{showFetchColumn} == 1"><td><f:if condition="{resource.regionName} != ''"><f:then><f:translate key="app.region">Region: </f:translate>{resource.regionName}</f:then><f:else><f:translate key="app.solarsystem">System: </f:translate>{resource.solarSystemName}</f:else></f:if></td></f:if>
		</tr>
	</f:for>
	</tbody>
</table>
<f:format.html>{postTableText}</f:format.html>

</f:section>
