<label for="eveName">
	<f:translate key="tx_evecorp_domain_model_eveitem.eve_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="eveName" /><br />
<label for="eveId">
	<f:translate key="tx_evecorp_domain_model_eveitem.eve_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="eveId" /><br />
<label for="systemId">
	<f:translate key="tx_evecorp_domain_model_eveitem.system_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="systemId" /><br />
<label for="timeToCache">
	<f:translate key="tx_evecorp_domain_model_eveitem.time_to_cache" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="timeToCache" /><br />
